h1{
    color: #ffffff;
}
.contact-form {
    position: absolute; 
    top: 80%; 
    left: 100px; 
    background: #7e6f6f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.contact-form p{
    -webkit-line-clamp: 3;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


.contact-form button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.head-img{
    background: #2c2a2a;
    height: 100px;
    width: 100%;

}
.head-img img{
    height: 300px;
    width: 100%;
}
.site {
    position: absolute; 
    width: 500px;
    height: 200px;
    top: 80%; 
    right: 100px; 
    background: #534d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 4px 7px #2c2a2a;
    border-radius: 4px;
    transform: translateY(-50%); 
}



.tble {
position: absolute;
width: 500px;
height: auto; 
top: 130%;
right: 100px;
background: #7e6f6f;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 4px 4px 7px #2c2a2a;
border-radius: 4px;
transform: translateY(-50%);
overflow-x: auto; 
}

.image-table {
width: 100%;
border-collapse: collapse;
}

.image-table td {

padding: 5px;
}

.image-table img {
max-width: 200px;
max-height: 200px;
width: auto;
height: auto;
}

.mar{
    display: none;
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .site {
        width: 547px;
        height: 140px;
        top: 78%;
        right: 77px;
        font-size: 247%;
        background: transparent;
        text-shadow: 8px 4px black;
    }
    .contact-form {
        position: absolute;
        top: 101%;
        left: 50px;
        background: #7e6f6f;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 600px;
        max-width: 100%;
        text-align: center;
    }
    .tble {
        position: absolute;
        width: 500px;
        height: auto;
        top: 256%;
        right: 100px;
        background: #7e6f6f;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 7px #2c2a2a;
        border-radius: 4px;
        transform: translateY(-50%);
        overflow-x: auto;
    }

} 
@media screen and (min-width: 490px) and (max-width: 600px){
    .site {
        text-shadow: 11px 3px black;
        position: absolute;
        width: 356px;
        height: 200px;
        top: 50%;
        right: 44px;
        background: transparent;
        display: flex;
        font-size: 105%;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 7px #2c2a2a;
        border-radius: 4px;
        transform: translateY(-50%);
    }
    .contact-form {
        position: absolute;
        top: 82%;
        left: 27px;
        background: #7e6f6f;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 443px;
        /* max-width: 100%; */
        text-align: center;
    }

    .tble{
        display: none;
    }
    .head-img{
        display: none;
    }
    .mar{
        display: contents;
    }
}
@media screen and (width: 768px) {
    .site {
        width: 332px;
        height: 140px;
        top: 39%;
        right: 16px;
        font-size: 150%;
        background: transparent;
        text-shadow: 8px 4px black;
    }

    #cont {
        width: 400px;
        right: -129%;
        text-align: left;
        transition: all 0.5s;
        height: 100%;
        position: fixed;
        float: right;
        z-index: 1;
        top: 0;
        background-color: #464444;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        margin: 10px;
    }

    .contact-form {
        top: 63%;
        left: 30px;
        width: 679px;
    }

    .tble {
        display: none;
    }
    
    .mar{
        display: none;
    }

    .head-img img {
        background: #2c2a2a;
        height: 89px;
        width: 300px;
    
    }
  
}

@media screen and (width: 425px) {
    .site {
        width: 332px;
        height: 140px;
        top: 47%;
        right: 45px;
        font-size: 150%;
        background: transparent;
        text-shadow: 8px 4px black;
    }

    #cont {
        width: 400px;
        right: -129%;
        text-align: left;
        transition: all 0.5s;
        height: 100%;
        position: fixed;
        float: right;
        z-index: 1;
        top: 0;
        background-color: #464444;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        margin: 10px;
    }

    .contact-form {
        top: 78%;
        left: 24px;
        width: 366px;
    }

    .head-img img{
        height: 300px;
    }

    .head-img img {
        width: 100%;
        height: 151px;
        border-radius: 8px;
        margin-bottom: 20px;
        transition: transform 0.3s, filter 0.3s ease-in-out;
    }

    .head-img1 {
        display: contents;
    }

    .contact-form p {
        display: contents;
    }

    .mar img {
        height: 250px;
    }
    .tble{
        display: none;
    }
}

@media screen and (width: 375px) {
    .site {
        width: 332px;
        height: 140px;
        top: 45%;
        right: 16px;
        font-size: 150%;
        background: #2c2a2a;
        text-shadow: 8px 4px black;
    }

    #cont {
        width: 400px;
        right: -129%;
        text-align: left;
        transition: all 0.5s;
        height: 100%;
        position: fixed;
        float: right;
        z-index: 1;
        top: 0;
        background-color: #464444;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        margin: 10px;
    }

    .contact-form {
        top: 68%;
        left: 24px;
        width: 323px;
    }

    

    .head-img img {
        width: 100%;
        height: 151px;
        border-radius: 8px;
        margin-bottom: 20px;
        transition: transform 0.3s, filter 0.3s ease-in-out;
    }
    .head-img{
        display: none;
    }
   .mar{
        display: contents;
    }

    .contact-form p {
        display: none;
    }

    .mar img {
        height: 250px;
    }
    .tble {
        height: auto;
        top: 206%;
        right: 40px;
        width: 267px;
        overflow-x: auto;
        transform: translateY(-50%);
    }
}

@media screen and (width: 320px) {
    .site {
        width: 187px;
        height: 140px;
        top: 48%;
        right: 56px;
        font-size: 150%;
        background: transparent;
        text-shadow: 8px 4px 4px black;
    }
    .head-img img{
        height: 200px;
    }

    .contact-form {
        top: 68%;
        left: 18px;
        width: 272px;
    }
    .tble {
        display: none;
    }
    .image-table{
        display:none;
    }
}
